version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      artifacts:
        patterns:
          - actions/artifacts
          - actions/download-artifact
          - actions/upload-artifact

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
