---

language: go
go:
  - "1.10.x"  # ubuntu bionic
  - "1.11.x"  # debian buster
  - "1.x"     # latest

dist: bionic

addons:
  apt:
    packages:
      - appstream-util
      - golint
      - libgtk-3-dev
      - libxml2-utils
      - yamllint

cache:
  directories:
    - $HOME/.cache/go-build

install:
  - make deps BUILDFLAGS="-v -d"

script:
  - make BUILDFLAGS=-v
  - make check
  - make test

jobs:
  allow_failures:
    - language: node_js

  include:
    - name: Houston CI
      language: node_js
      node_js: 10/*
      services:
        - docker
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-5-dev
      install:
        - npm i -g @elementaryos/houston
      script:
        - houston ci
