[Desktop Entry]
Version=1.0
Type=Application
Name=XKCD Viewer
Comment=View XKCD comics
TryExec=xkcd-gtk
Exec=xkcd-gtk
Icon=xkcd-gtk
Terminal=false
Actions=NewWindow;About;

[Desktop Action About]
Name=About XKCD Viewer
Exec=xkcd-gtk --about

[Desktop Action NewWindow]
Name=New Window
Exec=xkcd-gtk
