[Desktop Entry]
Version=1.0
Type=Application
Name=XKCD Viewer
Comment=View XKCD comics
TryExec=xkcd-gtk
Exec=xkcd-gtk
Icon=com.ryankoesters.xkcd-gtk.svg
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=xkcd-gtk
