[Desktop Entry]
Version=1.0
Type=Application
Name=XKCD Viewer
Comment=View XKCD comics
TryExec=com.github.rkoesters.xkcd-gtk
Exec=com.github.rkoesters.xkcd-gtk
Icon=com.github.rkoesters.xkcd-gtk
Terminal=false
Categories=Network;
Keywords=xkcd;Comic;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=com.github.rkoesters.xkcd-gtk
