@define-color colorPrimary #96a8c8;
@define-color textColorPrimary #1a1a1a;
@define-color textColorPrimaryShadow alpha(shade(@colorPrimary, 1.4), 0.4);

.comic-container > .frame {
	background-color: #ffffff;
	border-radius: 0px;
}

.comic-container.dark > .frame {
	background-color: #000000;
}
