.comic-container > .frame {
	background-color: #000000;
	border-radius: 0px;
}

.no-min-width {
    min-width: 0;
}

headerbar > buttonbox > button {
    background-color: rgba(0, 0, 0, 0);
}

headerbar > buttonbox > button.slim-button {
    padding-left: 0;
    padding-right: 0;
}

headerbar.fix-hidden-comic-title label.title {
    color: #ffffff;
}
