Source: com.github.rkoesters.xkcd-gtk
Section: x11
Priority: extra
Maintainer: Ryan Koesters <rmkoesters@gmail.com>
Build-Depends: debhelper (>= 9), golang (>= 1.6), git, ca-certificates, libgtk-3-dev (>= 3.18)
Standards-Version: 3.9.3
Homepage: https://github.com/rkoesters/xkcd-gtk

Package: com.github.rkoesters.xkcd-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Comic Sticks
 xkcd-gtk is a xkcd comic viewer written in Go.
