[Desktop Entry]
Version=1.0
Type=Application
Name=Comic Sticks
GenericName=XKCD Viewer
Comment=Browse xkcd comics
TryExec=com.github.rkoesters.xkcd-gtk
Exec=com.github.rkoesters.xkcd-gtk
Icon=com.github.rkoesters.xkcd-gtk
StartupNotify=true
Terminal=false
Categories=Network;Amusement;Viewer;GTK;
Keywords=webcomic;romance;sarcasm;math;language;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=com.github.rkoesters.xkcd-gtk
