---

name: CI

"on": [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        go:
          - 1.11.x  # debian buster
          - 1.13.x  # ubuntu focal
          - 1.15.x  # debian bullseye
          - 1.x     # latest

    name: Go ${{ matrix.go }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Set up GITHUB_ENV
        run: >
          go version |
          sed 's/^go version /GOVERSION=/' |
          tr ' /' '-' >>$GITHUB_ENV

          go env GOPATH | sed 's/^/GOPATH=/' >>$GITHUB_ENV

          go env GOCACHE | sed 's/^/GOCACHE=/' >>$GITHUB_ENV

      - name: Set up Go cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.GOCACHE }}
            ${{ env.GOPATH }}/pkg/mod
          key: ${{ env.GOVERSION }}-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ env.GOVERSION }}-cache-

      - name: Set up build dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y -q \
          appstream-util \
          gettext \
          golint \
          libgtk-3-dev \
          libxml2-utils \
          yamllint

      - run: make
      - run: make check
      - run: make test

  flatpak-builder:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up flatpak-builder
        run: |
          sudo apt-get update -q
          sudo apt-get install -y -q flatpak flatpak-builder

      - name: Set up flatpak-builder cache
        uses: actions/cache@v2
        with:
          path: .flatpak-builder
          key: >
            flatpak-builder-${{
            hashFiles('com.github.rkoesters.xkcd-gtk.yml')
            }}
          restore-keys: flatpak-builder-

      - name: Configure flathub
        run: >
          flatpak --user remote-add --if-not-exists
          flathub https://flathub.org/repo/flathub.flatpakrepo

      - name: Build flatpak
        run: make flatpak
